{% extends "base.html" %}

{% block content %}
    <h1>Select Image to be trimmed</h1>
    <p>This service can remove whitespaces in an image</p>

    <form method="POST" enctype="multipart/form-data">
        <!-- User upload file -->
        <input id="file-field" type="file" name="file" accept=".png, .jpg, .jpeg" onchange="handleFileSelect(event)" required>
        <input id="trim-button" type="submit" title="Submit image to be trimmed" value="Trim">
        <button id="reset-button" type="button" title="Clear" onclick="resetFileInput()">Reset</button>
    </form>
    <br>
    <button id="main-menu">Main Menu</button>
    <script type="text/javascript" src="{{ url_for('static', filename='trim.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='button.js') }}"></script>
{% endblock %}